<div>
  <form
    [formGroup]="editedCardForm"
    (submit)="isEdit() ? saveClickedUpdate() : saveClickedCreate()"
    class="flex flex-col gap-3"
  >
    <label for="front">Front content</label>
    <textarea
      id="front"
      name="front"
      rows="8"
      [formControl]="frontFormControl"
      class="mb-1 rounded-md bg-skin-color-surface-pop focus:border-skin-color-primary focus:ring-skin-color-primary"
    ></textarea>

    <div class="my-2 border-b border-skin-color-faintest"></div>

    <label for="back">Back content</label>
    <textarea
      id="back"
      name="back"
      rows="8"
      [formControl]="backFormControl"
      class="rounded-md bg-skin-color-surface-pop focus:border-skin-color-primary focus:ring-skin-color-primary"
    ></textarea>

    <button nice-button [type]="'submit'">
      <lucide-icon [img]="Save"></lucide-icon>
      <div>Save</div>
    </button>
  </form>

  <button class="mt-2 w-full" nice-outlined-button (click)="finishEditing()">
    <lucide-icon [img]="X"></lucide-icon>
    <div>Cancel</div>
  </button>
</div>
