@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: Inter, 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

@layer base {
  :root {
    --color-surface: 255, 255, 255;
    --color-surface-pop: 243, 244, 246;

    --color-base: 3, 7, 18;
    --color-muted: 55, 65, 81;
    --color-faint: 156, 163, 175;
    --color-faintest: 209, 213, 219;
    --color-inverted: 67, 20, 7;

    --color-primary: 249, 115, 22;
    --color-secondary: 194, 64, 12;
    --color-emphasis: 251, 146, 60;

    --color-divider: 229, 231, 235;

    --color-ring: 67, 20, 7;
  }

  .dark {
    --color-surface: 17, 24, 39;
    --color-surface-pop: 31, 41, 55;

    --color-base: 249, 250, 251;
    --color-muted: 156, 163, 175;
    --color-faint: 156, 163, 175;
    --color-faintest: 75, 85, 99;
    --color-inverted: 67, 20, 7;

    --color-primary: 249, 115, 22;
    --color-secondary: 194, 64, 12;
    --color-emphasis: 251, 146, 60;

    --color-divider: 31, 41, 55;

    --color-ring: 67, 20, 7;
  }
}
