<div class="m-2 flex flex-grow flex-col items-center justify-center gap-4">
  <h1 class="text-center text-5xl">Page not found</h1>
  <p class="m-2 text-wrap text-center text-lg text-skin-muted">
    Uh oh! We can't find the page you're looking for. Try going back to the
    previous page.
  </p>
  <button
    routerLink="/"
    class="m-2 flex gap-2 rounded-md border-skin-color-primary bg-skin-color-surface-pop/75 p-3 hover:bg-skin-color-surface-pop"
  >
    <lucide-icon [img]="Home"></lucide-icon>
    <span> Go to home screen</span>
  </button>
</div>
