<main style="height: calc(100dvh - 3.6rem)" class="p-4">
  <!-- Two panes -->
  <div class="flex h-full flex-col gap-4 md:flex-row">
    <!-- When details are shown: First pane: title + toggle details button + edit button -->
    <div
      class="flex flex-col gap-1 rounded-lg bg-skin-color-surface-pop/50 p-4 md:w-1/3"
    >
      <div>
        <h2
          class="inline-block text-wrap break-words text-3xl font-semibold underline decoration-orange-500"
        >
          {{ cardCollection().title }}
        </h2>
      </div>
      <!-- First pane: creator + date created + summary + likes -->
      <div class="flex justify-between text-sm text-skin-faint">
        {{ cardCollection().creationDate | date }}
      </div>
      <div
        class="my-2 max-h-80 overflow-auto rounded-md border border-skin-color-faintest p-2"
      >
        {{ cardCollection().summary ? cardCollection().summary : 'No summary' }}
      </div>

      @if (userCanEdit()) {
        <div class="grid grid-flow-row grid-cols-2 gap-2">
          <button class="flex py-2" nice-button (click)="editCollectionClicked()">
            <lucide-icon [img]="Pencil" />
            <span>Edit Details</span>
          </button>
          <button
            class="flex py-2"
            nice-outlined-button
            (click)="deleteClicked()"
          >
            <lucide-icon [img]="Trash" />
            <span>Delete collection</span>
          </button>
        </div>
      }

      <!-- Flashcard quick navigation -->
      <div class="overflow-y-auto rounded-md bg-skin-color-surface-pop p-2">
        <div class="mb-2 text-lg underline decoration-orange-500">
          Quick navigation
        </div>
        @for (card of cards(); track card.order) {
          <div
            (click)="quickNavigate(card)"
            class="my-0.5 flex w-full cursor-pointer items-center justify-between rounded-md px-2 py-0.5 transition-colors duration-150 odd:bg-skin-color-surface/60 even:bg-skin-color-surface/40 hover:text-skin-primary"
            [title]="card.front"
          >
            <div
              class="mr-3 truncate"
              [ngClass]="{
                'text-skin-primary': card.order === currentCard().order,
              }"
            >
              {{ card.front }}
            </div>
            <div class="px-1 text-sm text-skin-faint">{{ card.order }}</div>
          </div>
        } @empty {
          <div class="rounded-md bg-skin-color-surface/60 p-2">
            There are no cards in this collection yet.
          </div>
        }
      </div>
    </div>
    <!-- When details are hidden Second pane: title + toggle details button + edit button -->
    <div class="grow rounded-lg bg-skin-color-surface-pop/50 p-4">
      @if (editing() === 'create') {
        <edit-flash-card (finishedEditing)="finishEditing()"></edit-flash-card>
      } @else if (editing() === 'edit') {
        <edit-flash-card
          [isEdit]="true"
          (finishedEditing)="finishEditing()"
        ></edit-flash-card>
      } @else {
        <flash-cards
          [cards]="cards()"
          (createClicked)="beginEditing('create')"
          (editClicked)="beginEditing('edit')"
          [userCanEdit]="userCanEdit()"
        ></flash-cards>
      }
    </div>
  </div>
</main>

@if (showDeletePopup()) {
  <confirm-popup
    [confirmationQuestion]="'Delete collection?'"
    [confirmText]="'Delete'"
    [closeText]="'Cancel'"
    (popupConfirmed)="delete()"
    (popupClosed)="deleteCardPopupClosed()"
  ></confirm-popup>
}

@if (showEditCollectionPopup()) {
  <edit-collection-popup
    (popupClosed)="editCollectionPopupClosed()"
  ></edit-collection-popup>
}
