<div
  class="flex h-56 cursor-pointer flex-col rounded-md bg-skin-color-surface-pop/75 p-2 hover:bg-skin-color-surface-pop"
  (click)="openCollection()"
>
  @if (cardCollection() && !isSkeletonLoader()) {
    <!-- Header -->
    <div
      class="mb-2 flex justify-between border-b border-skin-color-faintest pb-2"
    >
      <!-- Title -->
      <div class="flex flex-col">
        <h4 class="text-lg font-semibold">{{ cardCollection().title }}</h4>
        <div class="text-xs text-skin-faint">
          {{ cardCollection().creationDate | date }}
        </div>
      </div>
      <!-- Creator -->
      <div class="group py-1" (click)="viewProfileClicked($event)">
        @if (ownerAvatarUrl()) {
          <img
            [src]="ownerAvatarUrl()"
            alt="user"
            class="size-8 rounded-full ring-skin-color-primary group-hover:ring-2"
          />
        } @else {
          <lucide-icon
            class="size-8 rounded-full bg-skin-color-surface/90 ring-skin-color-primary group-hover:ring-2"
            [img]="User"
          />
        }
      </div>
    </div>

    <!-- Content overview -->
    @if (cardCollection().summary) {
      <div class="line-clamp-5 text-pretty break-words text-sm text-skin-muted">
        {{ cardCollection().summary }}
      </div>
    } @else {
      <div
        class="line-clamp-5 text-pretty break-words text-sm italic text-skin-muted"
      >
        No summary
      </div>
    }

    <!-- Footer -->
    <div
      class="mt-auto flex justify-between border-t border-skin-color-faintest pt-2"
    >
      <button
        (click)="toggleLikeCollection($event)"
        class="flex cursor-pointer gap-1 rounded-full px-2 py-1 text-sm text-skin-muted hover:bg-skin-color-faintest/75 hover:text-skin-base"
      >
        @if (isLiked()) {
          <lucide-icon class="size-4 text-red-500 *:fill-red-500" [img]="Heart"></lucide-icon>
        } @else {
          <lucide-icon class="size-4" [img]="Heart"></lucide-icon>
        }
      </button>
    </div>
  }
  <!-- Skeleton loader -->
  @else {
    <collection-card-skeleton></collection-card-skeleton>
  }
</div>
