<div class="flex w-full flex-col gap-5 md:w-[900px]">
  <div
    class="flex items-center justify-between gap-4 rounded-md bg-skin-color-surface-pop p-5"
  >
    @if (user()?.profile?.avatarUrl) {
      <img
        class="size-16 rounded-full md:size-20 cursor-pointer"
        [src]="user()?.profile?.avatarUrl"
        alt="avatar"
        (click)="openInNewTab(user()?.profile?.avatarUrl)"
      />
    } @else {
      <div
        class="flex size-16 items-center justify-center rounded-full bg-skin-color-surface/70 md:size-20"
      >
        <lucide-icon class="size-16" [img]="User"></lucide-icon>
      </div>
    }

    <div class="text-2xl font-semibold">{{ user()?.profile?.username }}</div>
  </div>

  <div
    class="flex flex-col gap-3 rounded-md bg-skin-color-surface-pop p-3 text-skin-base/80"
  >
    <div
      class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
    >
      <span class="underline decoration-orange-500">Email</span>
      <span>{{ user()?.email }}</span>
    </div>
    <div
      class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
    >
      <span class="underline decoration-orange-500">Role</span>
      <span>{{ user()?.role }}</span>
    </div>
    <div
      class="flex w-full flex-col justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
    >
      <div class="underline decoration-orange-500">Bio</div>

      @if (user()?.profile?.bio) {
        <div>{{ user()?.profile?.bio }}</div>
      } @else {
        <div class="italic text-skin-faintest">No bio</div>
      }
    </div>
    <div
      class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
    >
      <span class="underline decoration-orange-500">Created at</span>
      <span>{{ user()?.profile?.createdAt | date }}</span>
    </div>
  </div>

  @if (isOwnProfile()) {
    <div class="flex gap-5 rounded-md bg-skin-color-surface-pop p-3">
      <button class="w-full" nice-button (click)="editClicked()">Edit</button>
      <button class="w-full" nice-outlined-button (click)="deleteClicked()">Delete</button>
    </div>
  }
</div>

@if (showDeletePopup()) {
  <confirm-popup
    [confirmationQuestion]="'Are you sure you want to delete your profile and all your collections with it?'"
    [confirmText]="'Delete'"
    [closeText]="'Cancel'"
    (popupConfirmed)="deleteConfirmed()"
    (popupClosed)="deleteCancelled()"
  ></confirm-popup>
}
