<nav
  class="relative z-10 border-b border-skin-color-divider bg-skin-color-surface px-2 shadow-sm lg:px-4 xl:px-6"
>
  <div class="relative flex items-center">
    <!-- Title -->
    <a
      routerLink="/"
      routerLinkActive="active"
      class="mr-8 flex items-center gap-2"
    >
      <lucide-icon
        [img]="Spade"
        class="text-skin-primary"
        strokeWidth="3"
      ></lucide-icon>
      <div class="text-2xl font-semibold">NiceCards</div>
    </a>
    <!-- Mobile: toggle menu -->
    <button
      class="m-2 ml-auto flex w-10 shrink-0 cursor-pointer rounded-md p-2 text-skin-muted ring-skin-color-primary hover:bg-skin-color-surface-pop hover:text-skin-base focus:ring-2 md:hidden"
      (click)="toggleMobileMenu()"
    >
      @if (mobileMenuIsOpen()) {
        <lucide-icon [img]="X"></lucide-icon>
      } @else {
        <lucide-icon [img]="Menu"></lucide-icon>
      }
    </button>
    <div class="hidden md:flex md:flex-grow">
      <ul class="flex flex-grow gap-2">
        @for (navItem of leftSideNavigationItems; track navItem.title) {
          <li class="flex">
            <a
              [routerLink]="navItem.route"
              routerLinkActive="active"
              class="w-full border-b-2 px-3 pb-3.5 pt-4"
              [class]="
                currentRoute() === navItem.route
                  ? 'border-skin-color-primary text-skin-base'
                  : 'border-skin-color-surface text-skin-muted hover:border-skin-color-divider hover:text-skin-base'
              "
            >
              {{ navItem.title }}
            </a>
          </li>
        }

        <li class="ml-auto flex" toggle-theme-button></li>

        @for (navItem of guestNavigationItems; track navItem.title) {
          <li class="flex">
            <a
              [routerLink]="navItem.route"
              class="mb-2.5 mt-3 w-full rounded-md px-3 py-1"
              [ngClass]="{
                'text-skin-base ring ring-skin-color-primary':
                  currentRoute() === navItem.route,
                'text-skin-muted hover:text-skin-base':
                  currentRoute() !== navItem.route,
                'bg-skin-color-primary dark:text-skin-inverted dark:hover:text-black':
                  navItem.route == '/login',
                'bg-skin-color-surface-pop': navItem.route == '/register',
              }"
            >
              {{ navItem.title }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

@if (mobileMenuIsOpen()) {
  <div
    class="absolute inset-0 h-dvh w-dvw backdrop-blur-sm"
    (click)="toggleMobileMenu()"
  ></div>
  <div
    class="animate-slideDown absolute left-0 right-0 bg-skin-color-surface shadow-md dark:border-b dark:border-skin-color-divider"
  >
    <ul class="mt-2 flex flex-col gap-1 py-1 md:hidden">
      @for (navItem of getAllNavigationItems(); track navItem.title) {
        <li class="flex" (click)="toggleMobileMenu()">
          <a
            class="w-full border-l-4 border-skin-color-surface px-3 py-2 hover:bg-skin-color-surface-pop"
            [class]="
              currentRoute() === navItem.route
                ? 'border-l-4 border-l-skin-color-primary bg-skin-color-surface-pop text-skin-primary'
                : 'hover:border-skin-color-faint'
            "
            [routerLink]="navItem.route"
          >
            {{ navItem.title }}
          </a>
        </li>
      }
      <li class="flex" toggle-theme-button></li>
    </ul>
  </div>
}
