<div class="mt-12 flex grow items-center justify-center self-start">
  <div class="mx-4 flex shrink grow flex-col gap-4 md:max-w-2xl">
    <h2 class="my-2 text-wrap text-center text-2xl">Sign in to your account</h2>
    <form [formGroup]="loginForm" class="flex flex-col gap-4">
      <form-input
        [id]="'username'"
        [name]="'username'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'Username'"
        formControlName="username"
      />
      <form-input
        [id]="'password'"
        [name]="'password'"
        [type]="'password'"
        [required]="true"
        [placeholder]="'Password'"
        formControlName="password"
      />
      <button
        type="submit"
        (click)="handleSubmit()"
        [disabled]="!loginForm.valid"
        class="mt-3 rounded-md bg-skin-color-primary p-2 text-skin-inverted shadow-sm ring-skin-color-ring transition-all duration-300 ease-in-out hover:bg-skin-color-emphasis focus:ring-2 disabled:bg-skin-color-surface-pop disabled:text-skin-faintest disabled:hover:bg-skin-color-surface-pop"
      >
        Sign in
      </button>
    </form>

    <single-sign-on-options />
  </div>
</div>
