<div class="mt-12 flex grow items-center justify-center self-start">
  <div class="mx-4 flex shrink grow flex-col gap-4 md:max-w-2xl">
    <h2 class="my-2 text-wrap text-center text-2xl">Sign in to your account</h2>
    <form [formGroup]="loginForm" (submit)="handleSubmit()" class="flex flex-col gap-4">
      <form-input
        [id]="'email'"
        [name]="'email'"
        [type]="'email'"
        [placeholder]="'Email'"
        formControlName="email"
      />
      <form-input
        [id]="'password'"
        [name]="'password'"
        [type]="'password'"
        [placeholder]="'Password'"
        formControlName="password"
      />
      <button nice-button [disabled]="!loginForm.valid" [type]="'submit'">
        Sign in
      </button>
    </form>

    <single-sign-on-options />
  </div>
</div>
