<main class="m-12 flex grow items-center justify-center self-start">
  <!-- <div class="flex w-full flex-col gap-5 md:w-[900px]">
    <div
      class="flex items-center justify-between gap-4 rounded-md bg-skin-color-surface-pop p-5"
    >
      @if (user()?.profile?.avatarUrl) {
        <img
          class="size-16 rounded-full md:size-20"
          [src]="user()?.profile?.avatarUrl"
          alt="avatar"
        />
      } @else {
        <div
          class="flex size-16 items-center justify-center rounded-full bg-skin-color-surface/70 md:size-20"
        >
          <lucide-icon class="size-16" [img]="User"></lucide-icon>
        </div>
      }

      @if (!editing()) {
        <div class="text-2xl font-semibold">
          {{ user()?.profile?.username }}
        </div>
      } @else {
        <input
          class="max-w-96 grow rounded-md bg-skin-color-surface-pop px-2 text-2xl font-semibold text-skin-base focus:border-skin-color-primary focus:ring-skin-color-primary"
          type="text"
        />
      }
    </div>

    <div
      class="flex flex-col gap-3 rounded-md bg-skin-color-surface-pop p-3 text-skin-base/80"
    >
      <div
        class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
      >
        <span class="underline decoration-orange-500">Email</span>
        @if (!editing()) {
          <span>{{ user()?.email }}</span>
        } @else {
          <input
            class="max-w-96 grow rounded-md bg-skin-color-surface-pop p-0 px-2 text-skin-base focus:border-skin-color-primary focus:ring-skin-color-primary"
            type="email"
          />
        }
      </div>
      <div
        class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
      >
        <span class="underline decoration-orange-500">Role</span>
        <span>{{ user()?.role }}</span>
      </div>
      <div
        class="flex w-full flex-col justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
      >
        <div class="underline decoration-orange-500">Bio</div>

        @if (!editing()) {
          @if (user()?.profile?.bio) {
            <div>{{ user()?.profile?.bio }}</div>
          } @else {
            <div class="italic text-skin-faintest">No bio</div>
          }
        } @else {
          <textarea
            class="h-full w-full grow rounded-md bg-skin-color-surface-pop p-2 px-2 text-skin-base focus:border-skin-color-primary focus:ring-skin-color-primary"
          ></textarea>
        }
      </div>
      <div
        class="flex w-full justify-between gap-4 rounded-md bg-skin-color-surface/50 p-2 hover:bg-skin-color-surface/70"
      >
        <span class="underline decoration-orange-500">Created at</span>
        <span>{{ user()?.profile?.createdAt | date }}</span>
      </div>
    </div>

    @if (isOwnProfile() && !editing()) {
      @if (!editing()) {
        <div class="flex gap-5 rounded-md bg-skin-color-surface-pop p-3">
          <button class="w-full" nice-button (click)="editClicked()">
            Edit
          </button>
          <button class="w-full" nice-outlined-button>Delete</button>
        </div>
      } @else {
        <button class="w-full" nice-button (click)="saveClicked()">Save</button>
      }
    }
  </div> -->

  @if (editing()) {
    <profile-editing-view
      [isOwnProfile]="isOwnProfile()"
      [user]="user()"
      (editingFinished)="editingFinished()"
    ></profile-editing-view>
  } @else {
    <profile-normal-view
      [isOwnProfile]="isOwnProfile()"
      [user]="user()"
      (editingBegan)="editingBegan()"
    ></profile-normal-view>
  }
</main>
