<nav
  class="border-skin-color-divider bg-skin-color-surface sticky top-0 z-10 border-b px-2 shadow-sm lg:px-4 xl:px-6"
>
  <!-- Icon button -->
  <div class="relative flex items-center justify-between">
    <div class="w-10 p-2">
      <lucide-icon
        [img]="Spade"
        class="text-skin-primary"
        strokeWidth="3"
      ></lucide-icon>
    </div>
    <button
      class="text-skin-muted ring-skin-color-primary hover:bg-skin-color-surface-pop hover:text-skin-base m-2 flex w-10 shrink-0 cursor-pointer rounded-md p-2 focus:ring-2 md:hidden"
      (click)="toggleMobileNavigation()"
    >
      @if (mobileNavigationIsOpen) {
        <lucide-icon [img]="X"></lucide-icon>
      } @else {
        <lucide-icon [img]="Menu"></lucide-icon>
      }
    </button>
    <div class="hidden md:flex">
      <ul class="flex gap-2">
        <li class="flex">
          <button
            class="text-skin-muted ring-skin-color-primary bg-skin-color-surface-pop hover:text-skin-base m-2 flex w-10 shrink-0 cursor-pointer rounded-full p-2 focus:ring-2"
            (click)="toggleTheme()"
          >
            @if (currentTheme === 'dark') {
              <lucide-icon [img]="MoonStar"></lucide-icon>
            } @else {
              <lucide-icon [img]="Sun"></lucide-icon>
            }
          </button>
        </li>

        @for (navItem of navigationItems; track navItem.title) {
          <li class="flex">
            <a
              [routerLink]="navItem.route"
              routerLinkActive="active"
              class="w-full border-b-2 px-3 pb-3.5 pt-4"
              [class]="
                currentRoute === navItem.route
                  ? 'border-skin-color-primary text-skin-base font-semibold'
                  : 'hover:border-skin-color-divider border-skin-color-surface text-skin-muted hover:text-skin-base'
              "
            >
              {{ navItem.title }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>

  @if (mobileNavigationIsOpen) {
    <div class="bg-skin-color-surface absolute left-0 right-0 mt-1 shadow-md">
      <ul class="mt-2 flex flex-col gap-1 py-1 md:hidden">
        @for (navItem of navigationItems; track navItem.title) {
          <li class="flex">
            <a
              class="hover:bg-skin-color-surface-pop border-skin-color-surface w-full border-l-4 px-3 py-2"
              [class]="
                currentRoute === navItem.route
                  ? 'text-skin-primary bg-skin-color-surface-pop border-l-skin-color-primary border-l-4 font-semibold'
                  : 'hover:border-skin-color-faint'
              "
              [href]="navItem.route"
            >
              {{ navItem.title }}
            </a>
          </li>
        }
        <li class="flex">
          <button
            class="text-skin-muted ring-skin-color-primary bg-skin-color-surface-pop hover:text-skin-base my-2 mx-3 flex w-10 shrink-0 cursor-pointer rounded-full p-2 focus:ring-2"
            (click)="toggleTheme()"
          >
            @if (currentTheme === 'dark') {
              <lucide-icon [img]="MoonStar"></lucide-icon>
            } @else {
              <lucide-icon [img]="Sun"></lucide-icon>
            }
          </button>
        </li>
      </ul>
    </div>
  }
</nav>
