<main class="relative flex w-1/2 flex-grow gap-8 overflow-hidden">
  <div class="m-8 flex w-full flex-col gap-8 md:max-h-[700px] md:flex-row">
    <div class="card bg-skin-color-surface-pop md:my-12">
      <div class="content flex flex-col gap-8 p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Welcome to NiceCards
        </h2>
        <div class="text-md text-pretty text-skin-muted md:text-xl">
          Your personal learning companion for effortless studying and revision.
          Unlock the power of active recall and spaced repetition to supercharge
          your memory and boost your academic performance.
        </div>
      </div>
    </div>
    <div
      style="animation-delay: 2s"
      class="card bg-skin-color-surface-pop md:my-6"
    >
      <div class="content flex flex-col gap-8 p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Create & Customize
        </h2>
        <div class="text-md text-pretty text-skin-muted md:text-xl">
          Build your own flashcard collections tailored to your unique learning
          needs. Add text, images, and even audio to create engaging study
          materials that match your personal learning style.
        </div>
      </div>
    </div>
    <div
      class="card hidden items-center justify-center bg-skin-color-primary md:flex"
    >
      <img src="smiley.svg" alt="nice-cards" class="w-full p-12" />
    </div>
    <div
      style="animation-delay: 4s"
      class="card bg-skin-color-surface-pop md:my-6"
    >
      <div class="content flex flex-col gap-8 p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Learn at Your Pace
        </h2>
        <div class="text-md text-pretty text-skin-muted md:text-xl">
          Study anytime, anywhere, with our user-friendly interface and adaptive
          learning tools. Whether you have five minutes or an hour, NiceCards
          adapts to your schedule and helps you make the most of your study
          time.
        </div>
      </div>
    </div>
    <div
      style="animation-delay: 6s"
      class="card bg-skin-color-surface-pop md:my-12"
    >
      <div class="content flex flex-col gap-8 p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Collaborate & Share
        </h2>
        <div class="text-md text-pretty text-skin-muted md:text-xl">
          Connect with fellow learners, share your flashcard decks, and
          collaborate on study materials. Join a vibrant community of knowledge
          seekers and expand your learning horizons together.
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <main class="relative flex w-1/2 flex-grow gap-8 overflow-hidden">
  <div class="m-8 flex w-full gap-8">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</main> -->
