<main
  class="relative flex w-1/2 flex-grow justify-center gap-8 overflow-hidden"
>
  <div
    class="m-8 grid max-w-[960px] grid-flow-row grid-cols-1 gap-8 sm:grid-cols-2"
  >
    <div class="card bg-skin-color-surface-pop">
      <div class="content h-full p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Welcome to NiceCards
        </h2>
        <div class="text-md mt-5 text-pretty text-skin-muted md:text-xl">
          Your personal learning companion for effortless studying and revision.
          Unlock the power of active recall and spaced repetition to supercharge
          your memory and boost your academic performance.
        </div>
      </div>
    </div>
    <div style="animation-delay: 2s" class="card bg-skin-color-surface-pop">
      <div class="content h-full p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Create & Customize
        </h2>
        <div class="text-md mt-5 text-pretty text-skin-muted md:text-xl">
          Build your own flashcard collections tailored to your unique learning
          needs. Add text, images, and even audio to create engaging study
          materials that match your personal learning style.
        </div>
      </div>
    </div>
    <div
      style="animation-delay: 4s"
      class="card items-center justify-center bg-skin-color-primary"
    >
      <div class="content flex h-full items-center justify-center p-8">
        <img src="smiley.svg" alt="nice-cards" class="p-12" />
      </div>
    </div>
    <div style="animation-delay: 6s" class="card bg-skin-color-surface-pop">
      <div class="content h-full p-8">
        <h2 class="text-wrap text-3xl text-skin-base md:text-5xl">
          Collaborate & Share
        </h2>
        <div class="text-md mt-5 text-pretty text-skin-muted md:text-xl">
          Connect with fellow learners, share your flashcard decks, and
          collaborate on study materials. Join a vibrant community of knowledge
          seekers and expand your learning horizons together.
        </div>
      </div>
    </div>
    <!-- <div
        class="card md:absolute md:inset-0 items-center justify-center bg-skin-color-primary"
      >
        <img src="smiley.svg" alt="nice-cards" class="w-full p-12" />
      </div> -->
  </div>
</main>

<!-- <main class="relative flex w-1/2 flex-grow gap-8 overflow-hidden">
  <div class="m-8 flex w-full gap-8">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</main> -->
